/.DS_Store
lua/.DS_Store
/root/.DS_Store
packer_compiled.lua
notes.txt
xd
spell/
sessions/
lua/configs/float_help.lua
notes.norg
plugin/
virtext_test.lua
example.norg
test*
startup*
neorg.norg
mappy*
cfg.jsonc
