snippet h1 "Heading 1"
# ${VISUAL:# heading...}
endsnippet

snippet h2 "Heading 2"
## ${VISUAL:# heading...}
endsnippet

snippet h3 "Heading 3"
### ${VISUAL:# heading...}
endsnippet

snippet it "Italic"
_${VISUAL:Italic}_
endsnippet

snippet bd "Bold"
__${VISUAL:Bold}__
endsnippet
