snippet h1 "Heading 1"
# ${0:${VISUAL:# heading...}}
endsnippet

snippet h2 "Heading 2"
## ${0:${VISUAL:# heading...}}
endsnippet

snippet h3 "Heading 3"
### ${0:${VISUAL:# heading...}}
endsnippet

snippet it "Italic"
_${0:${VISUAL:Italic}}_
endsnippet

snippet bd "Bold"
__${0:${VISUAL:Bold}}__
endsnippet
