.ToC {
    border: 2px outset grey;
    margin-right:1000px;
    background-color: rgb(93, 93, 93);
    padding-bottom:20px;
    padding-left:10px;

}
html, body {
    background-color:rgb(25,25,25);
    color:rgb(240,240,240);
}
a:link{
        color:rgb(240,240,240);
    }
